/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #258ea6;
  }

  .flex-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .form-wrapper {
    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }

  
  form {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .sensorId_plantType{

  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  label {
    font-size: 1.4em;
    color: #222;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    height: 2rem;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder {
    font-size: 0.8em;
    font-weight: lighter;
    color: #999;
  }
  
  input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }

  .concept{
    text-align: center;
    width: 100%;
    color: #111;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
    
  .submitApply {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .submitApply button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 50%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 10px;
  }
  
  .submitApply button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
  }
  

  .imagePlant{
    display: block;
    margin: auto;
    border-radius: 8px;
    width: 25%;
  }
  .imagePlant img{
    width: 100%;
  }
  
  .threshold_amount_water{
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
  }

  .seasons{
    border-width: thin;
    border-color: #929c92;
    border-style: dashed;
    display: flex;
    width: 50%;
    flex-direction: row;
  }
  .titleThresholdAmount{
    padding-left: 5px;
    align-self: center;
    font-size: 1.2em;
    width: 40%;
  }
  .inputThresholdAmount{
    margin: auto;
    width: 45%;
  }